RESEND_API_KEY=
CONTACT_TO_EMAIL=info@furnuovo.com
CONTACT_FROM_EMAIL="Furnuovo <brief@furnuovo.com>"
NEXT_PUBLIC_CLARITY_PROJECT_ID=
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
NEXT_PUBLIC_GA_MEASUREMENT_ID=
